@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4jk50k');
  src:  url('fonts/icomoon.eot?4jk50k#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4jk50k') format('truetype'),
    url('fonts/icomoon.woff?4jk50k') format('woff'),
    url('fonts/icomoon.svg?4jk50k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-t-mobile:before {
  content: "\e903";
  color: #e20074;
}
.icon-h-square:before {
  content: "\e904";
}
.icon-user:before {
  content: "\f007";
}
.icon-book:before {
  content: "\f02d";
}
.icon-thumb-tack:before {
  content: "\f08d";
}
.icon-chevron-up:before {
  content: "\e902";
}
.icon-chevron-right:before {
  content: "\e901";
}
.icon-document-file-h:before {
  content: "\e905";
}
.icon-file-h:before {
  content: "\e906";
}
.icon-rocket:before {
  content: "\e900";
}
.icon-title:before {
  content: "\e907";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-enlarge:before {
  content: "\e98b";
}
.icon-shrink:before {
  content: "\e98c";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-list:before {
  content: "\e9ba";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-facebook:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-sina-weibo:before {
  content: "\ea9a";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-github:before {
  content: "\eab0";
}
.icon-reddit:before {
  content: "\eac6";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-redo2:before {
  content: "\e968";
}
